<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Résolveur de Sudoku en ligne. Entrez une grille de Sudoku et obtenez une solution instantanée grâce à un solveur basé sur la logique propositionnelle et un SAT Solver.">
    <meta name="keywords" content="Sudoku, Résolveur de Sudoku, SAT Solver, Sudoku en ligne, Résolution de Sudoku, Sudoku Solver">
    <meta name="author" content="Ratsimbazafy Olivier">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Résolveur de Sudoku</title>
</head>
<body>
    <div class="container">
        <h1>Sudoku Solver</h1>
        <table id="sudoku-grid">
            {% for i in range(9) %}
            <tr>
                {% for j in range(9) %}
                <td>
                    <input type="text" maxlength="1" class="sudoku-cell" id="cell-{{ i }}-{{ j }}">
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <button id="solve-button">Résoudre</button>
        <button id="reset-button">Réinitialiser</button>
        <button id="download-button">Télécharger le fichier DIMACS</button>
    </div>

    <footer style="text-align: center; margin-top: 20px; font-size: 14px; color: #555;">
        <p>Développé par <strong>Ratsimbazafy Olivier</strong></p>
        <p>Etudiant en 2ème année INFO et MIAGE à l'UGA DLST</p>
        <p>Email : <a href="mailto:olivier.ratsimbazafy@etu.univ-grenoble-alpes.fr">olivier.ratsimbazafy@etu.univ-grenoble-alpes.fr</a></p>
        <p>Site Web : <a href="https://rmf-0.github.io/portfolio/" target="_blank">https://rmf-0.github.io/portfolio/</a></p>
        <p>GitHub : <a href="https://github.com/RMF-0" target="_blank">https://github.com/RMF-0</a></p>
        <p>Dépôt GitHub : <a href="https://github.com/RMF-0/sudoku-web-app" target="_blank">https://github.com/RMF-0/sudoku-web-app</a></p>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>